apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: readonly
  namespace: apps
rules:
- apiGroups: ["", "apps", "batch"]
  resources:
    - pods
    - services
    - deployments
    - replicasets
    - statefulsets
    - daemonsets
    - jobs
    - cronjobs
    - configmaps
    - secrets
  verbs: ["get", "list", "watch"]